<html>
    <head>
	    <title>
	    	Cadastro
	    </title>

    </head>
    <body>
    	<h3>Cadastro</h3>
        <form action="" method="post">
            <div>
                <label for="matricula"><b>Matricula</b></label>
                <input type="text" name="matricula" required>

                <label for="email"><b>E-mail</b></label>
                <input type="text" name="email" required>

                <label for="senha"><b>Senha</b></label>
                <input type="password" name="senha" required>

                <button type="submit">Cadastrar</button>
            </div>

            <div>
                <span><a href="/login">Cancelar</a></span>
            </div>
        </form>
    </body>
</html>