<html>
    <head>
	    <title>
	    	Login
	    </title>

    </head>
    <body>
    	<h3>Login</h3>
        <form action="" method="post">
            <div>
                <label for="matricula"><b>Matricula</b></label>
                <input type="text" name="matricula" required>

                <label for="senha"><b>Senha</b></label>
                <input type="password" name="senha" required>

                <button type="submit">Login</button>
            </div>

            <div>
                <span>Esqueceu a <a href="/esqueceu">senha?</a></span>
                <span><a href="/cadastro">Cadastrar</a></span>
            </div>
        </form>
    </body>
</html>